
<!-- <h1>The directive example</h1>
  <p appBlueBackground>Hello World!</p>
  <h1>Input example from parent to child</h1>
  <app-child [data]=data (dataEvent)="dataUsingOutput($event)"></app-child>
  <h1>View Child example</h1>
  <button (click)="update()">Press to get data from child</button>
  {{dataFromChild}}
  <h1>@Output example</h1>
  {{dataUsingOutput1}}
  <h1>Reactive FormControl example</h1>
  <app-name-editor></app-name-editor>
  <h1> formgroup example</h1>
  <app-profile-editor></app-profile-editor> 

  <app-brands></app-brands>-->

  <employees></employees>


